.commentsContainer {
    max-width: 600px;
    padding: 10px 20px;
    // margin: 0 auto;
    border-radius: 5px;
    background-color: #fff;

    .commentForm {
        padding: 10px;
        display: flex;
        align-items: center;
        // flex-direction: column;
        .commentInputParent {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            input {
                padding: 5px;
            }
            label {
                margin-top: 5px;
                font-size: 0.8rem;
                font-weight: 600;
            }
        }

        button {
            margin-left: 10px;
        }
    }
    .commentContainer {
        padding: 10px 10px;
        border-bottom: 1px rgba(24, 24, 24, 0.1) solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: start;
        // background: #ddd;
        // background-color: #f0f2f6;
        margin-bottom: 20px;
        
        .textAndInfoParent {
            display: flex;
            flex-direction: column;
            // background-color: #f0f2f6;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            padding: 10px 20px;
                .profilePicUsernameParent{
                    display: flex;
                    align-items: center;
                    .profilePicParent{
                        max-width: 35px;
                        img{
                            width: 100%;
                        }
                    }
                    .username {
                        font-weight: 600;
                        margin-left: 10px;
                    } 
                }
            .mainText {
                margin-top: 10px;
            }
            .commentInfo {
                align-self: flex-end;



                .dateTime {
                    display: flex;
                }
            }
        }

        .replyButtonDiv{
            margin-top: 10px;
            button{
                border: none;
                appearance: none;
                background: none;
                font-weight: 600;
                font-size: .8rem;
            }
        }

        // .comments
        .replyFormParent {
            display: none;
            width: 100%;
            margin-top: 20px;
            .replyForm{
                display: flex;
                flex-direction: column;
                width: 100%;
                input{
                    padding: 10px 20px;
                    width: 100%;
                    border-radius: 20px;
                    font-size: 1rem;
                    border: none;
                    margin-bottom: 5px;
                    background: #f0f2f6;
                }
            }
        }

        .repliesFeed {
            display: flex;
            flex-direction: column;
            width: 100%;
            .replyContainer {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 10px 20px;
                width: 100%;
                background-color: #fff;
                margin-top: 10px;
                margin-left: 20px;
                align-items: flex-start;                    
                .profilePicUsernameParent{
                        display: flex;
                        align-items: center;
                        .profilePicParent{
                            max-width: 35px;
                            img{
                                width: 100%;
                            }
                        }
                        .username {
                            font-weight: 600;
                            margin-left: 10px;
                        } 
                    }
                .mainText {
                    // font-weight: 600;
                    margin-top: 10px;
                    // max-width: 400px;
                }
                .replyInfo {
                    text-align: end;

                    .dateTime {
                        display: flex;
                        .time {
                        }
                        .date {
                        }
                    }
                }
            }
        }
    }
}
