.forumBoardContainer{
    display: flex;
    flex-direction: column;
    // width: 100%;
    // max-width: 1400px;
    margin: 0 auto;
    .boardCategory{}
    .boardList{
        .boardListItem{

        }
    }
}