.loggedOutView {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background-image: url("../../assets/photo1.jpg");
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;

  .loggedOutChild {
    width: 100%;
    max-width: 1100px;
    padding: 20px 30px;
    margin-bottom: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    z-index: 2;

    h1 {
      font-size: 3rem;
      text-align: start;
      color: #fff;
    }

    .signupSigninParent {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 20px 0;
      border-radius: 5px;

      .homeRegister,
      .homeLogin {
        text-decoration: none;
        color: #181818;
        font-weight: 700;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 100px;
        padding: 10px 15px;
        transition: background-color 0.15s;
      }

      .homeRegister {
        margin-right: 15px;
        font-weight: 800;
        background-color: #fff;
      }

      .homeLogin:hover {
        background-color: rgba(255, 255, 255, 0.75);
      }
    }
  }
}
