.registerFullPage {
  height: 100%;
  padding: 50px;
  .registerHeading {
    margin-bottom: 50px;
    font-size: 2rem;
  }
  .registerForm {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px 30px;
    box-shadow: 0px 0px 10px rgba(24, 24, 24, 0.1);
    max-width: 400px;

    .formInputParent {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 15px;
      label {
        margin-right: 5px;
        margin-bottom: 5px;
        font-size: 14px;
      }
      input {
        padding: 2px 5px;
        width: 100%;
        align-self: flex-start;
      }
      .requiredAsterisk {
        color: red;
        text-shadow: 1px 0 2px rgba(24, 24, 24, 0.5);
      }
    }

    button {
      align-self: center;
      padding: 3px 5px;
      background-color: #fff;
      border: none;
      border-radius: 3px;
    }
  }
}
