.singleThreadParent{
    background: #fff;
    max-width: 680px;
    margin: 0 auto;
    padding: 20px 30px;
    margin-top: 50px;
.threadInfoParent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 10px;
    .title{
        margin-bottom: 10px;
        font-size: 1.5rem;
        // background-color: #fff;
        padding: 10px;
        text-align: start;
    }
    .mainText{
        white-space: pre-wrap;
        text-align: start;
        margin-bottom: 10px;
        // background-color: #fff;
        padding: 10px;
    }
    .usernameParent{
        display: flex;
        align-self: flex-start;
        text-align: start;
        margin-bottom: 10px;
        .username{}
    }
    .dateTime{
        display: flex;
        align-self: flex-start;
        text-align: end;
        .time{
            margin-right: 10px;
        }
        .date{}
    }
}
}
