.threadFeedContainer {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px 30px;
    margin-top: 50px;
    box-shadow: 0px 0px 10px rgba(24,24,24, 0.1);
    
    .newPost {
        align-self: flex-start;
        padding: 5px 10px;
        background: #181818;
        color: #fff;
        margin: 10px;
    }
    .feedCategory {
        align-self: flex-start;
        padding: 10px;
    }
    .feedList {
        width: 100%;
        .feedListItem {
            width: 100%;
            padding: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid #181818;
            .feedItemTitle {
                font-weight: 700;
            }
            .threadInfo {
                align-self: flex-end;
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                .usernameParent {
                    display: flex;
                    margin-bottom: 5px;
                    .username {
                        font-weight: 700;
                    }
                }
                .feedListDateTime {
                    align-self: flex-end;
                }
            }
        }
    }
}
