nav {
    width: 100%;
    background: #181818;
    color: #fff;
    box-sizing: border-box;
    position: fixed;

    h3{
        color: #fff;
    }

    .container {
        width: 100%;
        margin: 0 auto;
        max-width: 1100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            font-size: 1rem;
            color: #fff;

            li {
                margin: 0 5px;
                a {
                    text-decoration: none;
                    color: #fff;
                }



                button {
                    border: none;
                    font-size: 1rem;
                    appearance: none;
                    background: transparent;
                    color: #fff;
                    // border-bottom: 1px solid transparent;
                }
            }                
            li:hover {
                    border-bottom: 1px solid #fff;
                }
        }
    }
}

.profileNameImageParent {
    position: relative;
    display: flex;
    align-items: center;
    // align-self: flex-end;
    // margin-top: 15px;
    border-radius: 10px;
    padding-left: 10px;
    max-width: 35px;

    // h4{
    //     color: #fff;
    // }

    // .profileImageDiv {
    //     // max-width: 20px;
    //     border-radius: 999px;
    //     // margin-right: 10px;
    //     overflow: hidden;
    //     border: lightblue 2px solid;
        
        

        .placeholderImage {
            max-width: 35px;
            // width: 100%;
            margin-right: 10px;
            // object-fit: cover;
            // position: absolute;
            border-radius: 900px;
            border: #fff solid 2px;
            // box-shadow: 0px 0px 0px 2px #fff;
        }
    
}
